.Players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 95%;
    height: auto;
    gap: 0.5rem;
}

.Player {
    display: flex;
    font-size: x-small;
    flex-direction: row;
    border: 1px solid black;
    width: auto;
    height: auto;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}